<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript">
    var ctx,iset;
    var xx=[];
    var yy=[];
    var timer;

   function draw() {
        ctx = document.getElementById('SimpleCanvas').getContext('2d');
 
        var tagetString ="{{art.paint}}";//3a
        var St = tagetString.split(" ");//3b
        //console.log(St);
        var lgt = parseInt(St[0]);
        //xx,yyのリストに変換
        for (var i=0;i<lgt;i++){
          xx[i]=parseInt(St[i+1])
          yy[i]=parseInt(St[i+1+lgt])
        }
        iset=0
        //ここまではデータの格納

        timer=setInterval(plot1,20)
 
        //ここでプロット
        function plot1(){
            var lgth=xx.length;
            var x1=xx[iset];
            var y1=yy[iset];
            if (iset<lgth){
                var x2=xx[iset+1];
                var y2=yy[iset+1]; 
            }else{
                var x2=x1+1;
                var y2=y1+1; 
            }
            console.log("●　x1=" + x1 + " y1=" + y1+ "  x2=" + x2 + "  y2=" + y2);
            var yx=(y2-y1)/(x2-x1) ;   
            var rad=Math.atan(yx);
            var r=30;
            var x3=r*Math.cos(rad+(0.5*3.14))+x1;
            var y3=r*Math.sin(rad+(0.5*3.14))+y1;
            console.log("   yx=" + yx + " rad=" + rad+ "  x3=" + x3 + "  y3=" + y3);
            ctx.fillRect(x1,y1,5,5);
            ctx.beginPath();
            ctx.moveTo(x1,y1);
            ctx.lineTo(x3,y3);
            ctx.stroke();
            iset +=1;
            if (iset>lgth){
                clearInterval(timer);
            }
        }
    }
  </script>
</head>
<body onload="draw()" >
    <canvas id="SimpleCanvas" width="640" height="360" style="background-color:#FFFFFF;"></canvas>
    <div>Canvas Demo</div>
    <hr>
    <h1>内容チェック　</h1>
    <p>{{ message }}</p>
    <p>
        id:{{ art.id }}<br>
        書いた日：{{ art.ctime }}<br>
        書いた人：{{ art.name }}<br><br>
        内容：{{ art.naiyo }}<br>
    </p>
    <h3>戻る</h3>
    <form action="/">
        <button type="submit">戻る</button>
    </form>
    art.paintの中身確認のため（そのうち消す）<br>
    {{art.paint}}
</body>
</html>